## [SHOW SENSOR NAME];[SENSOR SCRIPT]
leak;ipmi.cmc.leak.sh
blades;ipmi.cmc.blade.sh
dbb fans;ipmi.cmc.dbb_fan.sh
fbb fans;ipmi.cmc.fbb_fan.sh
cmb temp;ipmi.cmc.cmb_temp.sh
fp temp;ipmi.cmc.fp_temp.sh
ib sw1;ipmi.cmc.ibsw1.sh
ib sw1 temp;ipmi.cmc.ibsw1_temp.sh
