[Unit]
Description = Cyclops HMS Daemon
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type = simple
PIDFile=/opt/cyclops/lock/cyc.dae.pid
ExecStart = /opt/cyclops/scripts/cyc.daemon.sh start
ExecStop = /opt/cyclops/scripts/cyc.daemon.sh stop
Restart = always
RestartSec = 30

[Install]
WantedBy = multi-user.target
