#### REACTIVE ACTIONS CONFIG FILE ####
#### THIS ACTIONS WILL BE EXEC WHEN ALERT ARE ENABLE ---- 
#### FILE FORMAT = [ACTION CODE];[PATH/SCRIPT NAME];[DESCRIPTIVE TEXT] ----
#### ACTION CODE FORMAT = [XXX][ZZZZ] 
####-- XXX => MON TYPE (SEC=SECURITY;SRV=SERVICES;NOD=HOST/NODE;ENV=ENVIRONMENT DEVICES) 
####-- ZZZZ => ACTION SCRIPT CODE ( [0-9]{4} ;; UNIQUE ACTION SCRIPT CODE ID ) 
SRV0001;/tools/approved/reaction.srv0001.sh;Slurm CG Recovery Script
